@{
    ViewData["Title"] = "Rensource API Home";
}

<p> 
    <h3>Welcome to Rensource Middleware Application API </h3>
</p>
<br>
<a asp-controller="swagger" class="btn btn-md btn-success"> API Documentation</a>
